[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pre-commit = "*"
black = "*"
ipython = "*"

[packages]
celery = {extras = ["gevent", "librabbitmq", "redis"],version = "*"}
praw = "*"
gevent = "*"
flower = "*"
dnspython = "*"
pyyaml = "*"
sqlalchemy = "*"
alembic = "*"
redis = "*"
jinja2 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
